@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
:root{
    --anim-length: .02s;
}
body{
    background-color : black;
    height: 100vh;
    overflow: hidden;
}
.parent{
    background-color : black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
    height: 70%;
}
.bar{
    background-color : lightgreen;
    position: absolute;
    border-radius: 1rem;
}

.regular{
    transition: all var(--anim-length) ease-in-out;
    -webkit-transition: all var(--anim-length) ease-in-out;
}

.fast{
    transition: all 1ms ease-in-out;
    -webkit-transition: all 1ms ease-in-out;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: space-between; */
}

.controls div{
    border: 1px solid black;
    border-radius: 1rem;
    cursor: pointer;
    padding : 10px;
    /* margin-left: 5px; */
    background-color: white;
    box-shadow: 1px 1px 1px 0.5px white;
<<<<<<< HEAD
    /* max-height: 2rem; */
=======
>>>>>>> 57a2f987c27a3f5e918ebc8f469329a9d1be3f1c
}

.dialogBox {
    position : absolute;
    background-color:  white;
    width : auto;
    height : "auto";
    color :black;
    display : none;
    border-radius : 1rem;
    left : 50%;
    /* bottom : 50%; */
    top : 50%;
    /* transform-origin: left top; 
    transform-origin: center center;     */
    /* -webkit-transform: translateX(150%); */

    transform: translateX(-50%) translateY(-50%);
    transition-timing-function: ease-in;
    padding : 20px;
    /* transition: all .6s ease-in-out; */
    animation: anim 1.5s 1;
}

/* @-webkit-keyframes anim {
0% {
-webkit-transform: translateX(100%);
    transform: translateX(100%);
}
50% {
-webkit-transform: translateX(0);
    transform: translateX(0);
}
} */

/* @keyframes in3d {
    50% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }  
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }  
}
@keyframes out3d {
    50% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }  
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }  
}     */
@keyframes anim {
0% {
    -webkit-transform: translateX(1000%);
        transform: translateX(1000%);
}
25% {
-webkit-transform: translateX(-50%) translateY(-100%);
    transform: translateX(-50%) translateY(-100%);
}
60% {
-webkit-transform: translateX(-100%) translateY(-50%);
    transform: translateX(-100%) translateY(-50%);
}
/* 50% {
-webkit-transform: translateX(-100%) translateY(-50%);
    transform: translateX(-100%) translateY(-50%);
}
75% {
-webkit-transform: translateX(-50%) translateY(-25%);
    transform: translateX(-50%) translateY(-25%);
} */
}

.bar:hover,
.bar:focus {
<<<<<<< HEAD
=======
    /* -webkit-transform: scale(150%);
            transform: scale(150%); */
    /* opacity: .1; */
>>>>>>> 57a2f987c27a3f5e918ebc8f469329a9d1be3f1c
    background-color : white;
}

.selectDiv {
    display: flex;
    justify-content: center;
    width: 100%;
}


/* panel control */
.control-panel{
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.control-panel .panel{
    flex: initial;
    display: flex;
    font-family: 'Orbitron', sans-serif;
    color  : white;
    align-self: center;
    font-size: 10px;
}

.control-panel .panel div{
    padding: 10px;
    border-radius: 25px;
}

.control-panel .controls{
   flex: auto;
}

.currentStep, .totalSteps{
    display: flex;
    flex-direction: column;
}

.totalValue, .currentValue{
    font-size: 5vh;
}

.selectForm{
    font-family: 'Montserrat', sans-serif;
    font-size : 2.5vh;
    color : white;
    background-color : black;
    /* box-shadow: 0 1px 0 1px rgba(252, 252, 252, 0.04); */
    -moz-appearance: none;
	-webkit-appearance: none;
    appearance: none;
    border: none;
}