*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    width: 100%;
    height: 100vh;
    text-transform: uppercase;
}

.title{
    color : white;
    text-align: center;
    position: relative;
    height: 20%;
    h1{
        font-size : 7vmin;
        letter-spacing: 4vmin;
        position : absolute;
        top : 50%;
        left : 50%;
        transform: translate(-50%, -50%);
    }
}

.grid{
    height: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.inner-div{
    position : relative;
    height: 100%;
    display: grid;
    margin : auto;
    text-align: center;
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    text-align: center;
    h2{
        font-size : 3.5vmin;
        letter-spacing: 1vmin;
        //just centering
        position : absolute;
        top : 50%;
        left : 50%;
        transform: translate(-50%, -50%);
    }
}

.inner-div:hover,
.inner-div:focus,
.collaborators a img:hover,
.collaborators a img:focus
 {
box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
transform: translateY(-0.5em);
}

.collaborators{
    height: 10%;
    position: relative;
    .inner-collaborator{
        margin : 0 auto;
        height: 70%;
        width: -webkit-max-content;
        width: -moz-max-content;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
        a{
            text-decoration : none;
        }

        img{
            height: 100%;
            border-radius: 50%;
        }
    }
}


@media only screen and (max-width : 748px) {
    .title{
        padding : 5%;
        h1{
            letter-spacing: 3vmin;
        }
    }

    .inner-div{
        h2{
            font-size : 5vmin;
        }
    }

    .grid{
        height: 70%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    } 

    .outer-div {
        border: 1px solid black;
        background : rgba($color: black, $alpha: 0.2)
    }

    .collaborators{
        height: 10%;
    }


}
