$base: #0f1923;
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body{
  height : 100vh;
  color : black;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  .container{
    height : 100%;
    width : 100%;
  }
  
}
.header {
  // background-color : darkblue;
  background-color : rgba(black , .5);
  width: 100%;
  height: 10%;
  color : white;
    .inner-header{
        height: 100%;
        width: 100%;
        margin : 0 auto;
        text-transform: uppercase;
        position:relative;
          a{
                width: 20%;
                color : white;
                text-decoration : none;
                font-size : 10vmin;
                position:absolute;
                top: 50%;
                left: 0%;
                transform : translate(0, -50%)
            }
              h1{
                width: 80%;
                font-size : 6vmin;
                letter-spacing: 2vmin;
                position:absolute;
                top: 50%;
                left: 20%;
                transform : translate(0, -50%)
              }
        }
    }


.grid {
    height: 90%;
    width: auto;
    display: grid;
    grid-template :
    "my_canvas my_canvas my_canvas my_canvas my_canvas my_canvas my_canvas" 9fr
    "previous final next size speed restartb startb" 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;

    gap : 5% 0;
    .canvas-container {
      grid-area: my_canvas;
      display : grid;
      .myCanvas {
        margin : auto;
      }
    }

    .control{
      font-size : 30px;
      border : 1px solid white;
      text-align: center;
      background-color : black;
      color : white;
      height : auto;
    }

    #prevButton{
      grid-area: previous;
      // background-color : red;
     }

    #nextButton{
      grid-area: next;
    }

    #finalButton{
      grid-area: final;
    }

    #size-input{
      grid-area: size;
    }

    #speed-input{
      grid-area: speed;

      #range{

      }

    }

    #restart-button{
      grid-area: restartb;
    }

    #start-button{
      grid-area : startb;
    }



  }

@media only screen and (max-width : 748px) {
  body{
    // background-color : lightgray;
  }

  // .grid{ 
  //   grid-template-rows: 80% 20%;
  //   grid-template-columns: repeat(7,1fr);
  // }

}

@import "button";
@import "modal";
